numpy>=1.22,<2.0
scikit-learn>=1.0.1,<2.0
streamlit>=1.2.0,<2.0
streamlit-option-menu==0.3.2
pandas>=2.3.1
matplotlib>=3.10.3
opencv-python>=4.11.0.86
joblib>=1.5.1
scipy>=1.16.0
pillow>=11.2.1
pyarrow>=20.0.0
pydeck>=0.9.1
requests>=2.32.4
rich>=14.0.0
tenacity>=9.1.2
threadpoolctl>=3.6.0
tornado>=6.5.1
watchdog>=6.0.0
